[submodule "bgfx"]
	path = bgfx
	url = https://gitee.com/zeroxer/bgfx
[submodule "bx"]
	path = bx
	url = https://gitee.com/zeroxer/bx
[submodule "bimg"]
	path = bimg
	url = https://gitee.com/zeroxer/bimg
